.heading {
    margin-bottom: 100px !important;
    color: white !important;
}

.card {
    padding: 30px !important;
    height: 218px !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(10px);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 50px !important;
}

.nodata{
    margin-top: 20px !important;
}